[Unit]
Description=Monchero Monitoring Agent
After=network.target auditd.service

[Service]
EnvironmentFile=-/etc/default/monchero-agent
ExecStart=/usr/bin/monchero-agent
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
